<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <style>
        table {
            border: 1px solid #b3adad;
            border-collapse: collapse;
            padding: 5px;
        }

        table th {
            border: 1px solid #b3adad;
            padding: 5px;
            background: #f0f0f0;
            color: #313030;
        }

        table td {
            border: 1px solid #b3adad;
            text-align: center;
            padding: 5px;
            background: #ffffff;
            color: #313030;
        }
    </style>
</head>
<body>
TODO

<form th:method="POST" th:action="@{/tasks/add}" th:object="${todo}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="description">Enter task description: </label>
    <input type="text" th:field="*{description}" name="description" id="description"/>
    <input type="hidden" th:field="*{owner}"/>
    <br/>
    <button type="submit">Add</button>
</form>

<h4>Your tasks</h4>

<table>
    <thead>
    <tr>
        <th>Task description</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.getDescription()}"/>
        <td th:text="${task.getCompleted()}"/>
    </tr>
    </tbody>
</table>

</body>
</html>